<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= cssPath %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="public/dist/favicon/favicon.png">
  <meta name="theme-color" content="#ffffff">
</head>
