$show-table-json-bg-color: #fff;
$table-border-color: #ececec;
$th-border-color: #dedddd;
$table-row-active-bg-color: #f5f5f5;
$row-selector-bg-color: #dedddd;
$row-selector-active-bg-color: #cacaca;

$show-table-td-name: 328px;
$show-table-td-genre: 225px;
$show-table-td-type: 125px;
$show-table-td-mindf: 86px;
$show-table-td-runtime: 76px;
$show-table-td-seasons: 70px;
$show-table-td-avgepisodes: 134px;
$show-table-td-network: 100px;
$show-table-td-status: 80px;
$show-table-td-imdb: 60px;

@mixin fixedlayout {
  background-color: $show-table-json-bg-color;
  margin: 0 auto;
  width: $show-table-td-name + $show-table-td-genre + $show-table-td-type + $show-table-td-mindf + $show-table-td-runtime + $show-table-td-seasons + $show-table-td-avgepisodes + $show-table-td-network + $show-table-td-status + $show-table-td-imdb;
}

.show-table--view-list {
  display: flex;
  flex-direction: column;

  ul,
  ol {
    display: flex;
    position: relative;
  }

  ol {
    &:last-child {
      border-bottom: 0;
    }

    &.active {
      background-color: $table-row-active-bg-color;

      .row-selector--dynamic {
        background-color: $row-selector-active-bg-color;
      }

      .show-list-info {
        &--genre {
          &::after {
            display: none;
          }
        }
      }

      li {
        height: initial;
        white-space: initial;
      }
    }

    li {
      height: 37px;
      padding: .5rem .3rem;
    }
  }

  ul {
    @include fixedlayout;
    border-bottom: 1px solid $th-border-color;
    border-left: 1px solid $table-border-color;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;
    flex-shrink: 0;

    li {
      padding: .8rem .3rem;
    }
  }

  .show-table-json {
    @include fixedlayout;
    border-bottom: 1px solid $table-border-color;
    border-radius: 0 0 3px 0;
    border-right: 1px solid $table-border-color;
  }

  li {
    display: inline-block;
    flex-shrink: 0;
    font-size: .92rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(2) {
      padding-left: 18px;
      width: $show-table-td-name;
    }

    &:nth-child(3) {
      width: $show-table-td-genre;
    }

    &:nth-child(4) {
      width: $show-table-td-type;
    }

    &:nth-child(5) {
      width: $show-table-td-mindf;
    }

    &:nth-child(6) {
      width: $show-table-td-runtime;
    }

    &:nth-child(7) {
      width: $show-table-td-seasons;
    }

    &:nth-child(8) {
      width: $show-table-td-avgepisodes;
    }

    &:nth-child(9) {
      width: $show-table-td-network;
    }

    &:nth-child(10) {
      width: $show-table-td-status;
    }

    &:nth-child(11) {
      width: $show-table-td-imdb;
    }
  }

  .show-list-info {
    &--genre {
      position: relative;

      &::after {
        background: linear-gradient(to right, transparent , #fff);
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
      }
    }

    &--type {
      font-size: .9rem;
    }

    &--network {
      font-size: .9rem;
    }

    &--status {
      font-size: .9rem;
    }

    &--imdb {
      text-align: center;
    }
  }
}



.row-selector {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;

  &--dynamic {
    background-color: $row-selector-bg-color;
    border: 0;
  }
}
