$show-table-td-name: 315px;
$show-table-td-genre: 225px;
$show-table-td-type: 125px;
$show-table-td-mindf: 86px;
$show-table-td-runtime: 70px;
$show-table-td-seasons: 70px;
$show-table-td-avgepisodes: 134px;
$show-table-td-network: 100px;
$show-table-td-status: 80px;
$show-table-td-imdb: 100px;

@mixin fixedlayout {
  margin: 0 auto;
  width: $show-table-td-name + $show-table-td-genre + $show-table-td-type + $show-table-td-mindf + $show-table-td-runtime + $show-table-td-seasons + $show-table-td-avgepisodes + $show-table-td-network + $show-table-td-status + $show-table-td-imdb;
}

.show-table {
  overflow: auto;

  ul {
    display: none;
    text-transform: capitalize;
  }

  &--view-list {
    display: flex;
    flex-direction: column;

    ul,
    ol {
      display: flex;
    }

    ul {
      @include fixedlayout;
    }

    #table-from-json {
      @include fixedlayout;
    }

    li {
      display: inline-block;
      flex-shrink: 0;
      height: 21px;
      overflow: hidden;

      &:nth-child(1) {
        width: $show-table-td-name;
      }

      &:nth-child(2) {
        width: $show-table-td-genre;
      }

      &:nth-child(3) {
        width: $show-table-td-type;
      }

      &:nth-child(4) {
        width: $show-table-td-mindf;
      }

      &:nth-child(5) {
        width: $show-table-td-runtime;
      }

      &:nth-child(6) {
        width: $show-table-td-seasons;
      }

      &:nth-child(7) {
        width: $show-table-td-avgepisodes;
      }

      &:nth-child(8) {
        width: $show-table-td-network;
      }

      &:nth-child(9) {
        width: $show-table-td-status;
      }

      &:nth-child(10) {
        width: $show-table-td-imdb;
      }
    }
  }

  &--view-card {
    #table-from-json {
      height: 100vh;
    }
  }
}
