$show-table-bg-color: #f3f3f3;

.show-table {
  background-color: $show-table-bg-color;
  height: 100vh;
  overflow: auto;
  padding-top: 2rem;

  ul {
    display: none;
    font-weight: 500;
    text-transform: capitalize;
  }
}
