$show-table-json-bg-color: #fff;
$table-border-color: #ececec;
$th-border-color: #dedddd;
$table-row-active-bg-color: $aui-b50;
$row-selector-bg-color-1: #d4d4d4;
$row-selector-bg-color-2: #cecccc;
$row-selector-active-bg-color-1: $aui-b200;
$row-selector-active-bg-color-2: $aui-b300;
$row-selector-active-border-color: #c3dbff;

$show-table-td-name: 328px;
$show-table-td-genre: 225px;
$show-table-td-type: 125px;
$show-table-td-mindf: 75px;
$show-table-td-network: 100px;
$show-table-td-runtime: 80px;
$show-table-td-seasons: 80px;
$show-table-td-avgepisodes: 80px;
$show-table-td-status: 80px;
$show-table-td-imdb: 60px;
$show-table-total-width: $show-table-td-name + $show-table-td-genre + $show-table-td-type + $show-table-td-mindf + $show-table-td-runtime + $show-table-td-seasons + $show-table-td-avgepisodes + $show-table-td-network + $show-table-td-status + $show-table-td-imdb;

$list-info-imdb-hover-color: $aui-b300;

@mixin fixedlayout {
  background-color: $show-table-json-bg-color;
  margin: 0 auto;
  width: $show-table-total-width;
}

.show-table--view-list {
  display: flex;
  flex-direction: column;
  position: relative;

  &.sticky {
    ul {
      background-color: #fff;
      left: 0;
      margin-left: calc(49.5% - #{$show-table-total-width / 2});
      margin-right: 2%;
      position: fixed;
      top: 0;
      z-index: 50;
    }

    li {
      padding: .5rem .3rem;
    }
  }

  ul,
  ol {
    display: flex;
    position: relative;
  }

  ol {
    &.active {
      background-color: $table-row-active-bg-color;

      &:last-child {
        li {
          border-bottom-color: $row-selector-active-border-color;
        }
      }

      .row-selector--dynamic {
        background: linear-gradient(to right, $row-selector-active-bg-color-1 , $row-selector-active-bg-color-2);
      }

      .show-list-info {
        &--genre {
          &::after {
            display: none;
          }
        }
      }

      li {
        height: initial;
        white-space: initial;
      }

      .show-list-info {
        &--runtime,
        &--seasons,
        &--avgepisodes,
        &--status {
          border-bottom-color: $row-selector-active-border-color;
          border-top-color: $row-selector-active-border-color;
        }
      }
    }

    li {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      height: 39px;
      padding: .5rem .3rem;
    }
  }

  ul {
    @include fixedlayout;
    border-bottom: 1px solid $th-border-color;
    border-left: 1px solid $table-border-color;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;
    flex-shrink: 0;

    li {
      font-size: .8rem;
      padding: .6rem .3rem;
    }

    .row-selector {
      border-radius: 3px 0 0 0;
    }
  }

  .show-table-json {
    @include fixedlayout;
    border-bottom: 1px solid $table-border-color;
    border-radius: 0 0 3px 0;
    border-right: 1px solid $table-border-color;
    margin-bottom: 2rem;
  }

  li {
    display: inline-block;
    flex-shrink: 0;
    font-size: .92rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(1) {
      padding-left: 18px;
      width: $show-table-td-name;
    }

    &:nth-child(2) {
      width: $show-table-td-genre;
    }

    &:nth-child(3) {
      width: $show-table-td-type;
    }

    &:nth-child(4) {
      width: $show-table-td-mindf;
    }

    &:nth-child(5) {
      width: $show-table-td-network;
    }

    &:nth-child(6) {
      width: $show-table-td-runtime;
    }

    &:nth-child(7) {
      width: $show-table-td-seasons;
    }

    &:nth-child(8) {
      width: $show-table-td-avgepisodes;
    }

    &:nth-child(9) {
      width: $show-table-td-status;
    }

    &:nth-child(10) {
      width: $show-table-td-imdb;
    }
  }

  .show-list-info {
    &--genre {
      position: relative;

      &::after {
        background: linear-gradient(to right, transparent , #fff);
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
      }
    }

    &--type {
      font-size: .9rem;
    }

    &--mindf {
      padding-left: 1rem;
      padding-right: 21px;
      text-align: center;
    }

    &--network {
      font-size: .9rem;
    }

    &--status {
      font-size: .9rem;
      text-transform: capitalize;
    }

    &--imdb {
      text-align: center;

      a {
        display: block;

        &:hover {
          .icon {
            fill: $list-info-imdb-hover-color;
          }
        }
      }
    }
  }
}



.row-selector {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;

  &--dynamic {
    background: linear-gradient(to right, $row-selector-bg-color-1 , $row-selector-bg-color-2);
    border: 0;
  }
}
