$ui-tag-default-bg-color: #f4f5f7;
$ui-tag-danger-bg-color: $aui-r50;
$ui-tag-warning-bg-color: $aui-y75;
$ui-tag-safe-bg-color: $aui-g50;
$ui-tag-info-bg-color: #e8f0ff;
$ui-tag-new-bg-color: $aui-p50;

.ui-tag {
  border-radius: 3px;
  cursor: default;
  display: inline-block;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  margin: 4px;
  padding: 2px 4px;

  &--default {
    background-color: $ui-tag-default-bg-color;
  }

  &--danger {
    background-color: $ui-tag-danger-bg-color;
  }

  &--warning {
    background-color: $ui-tag-warning-bg-color;
  }

  &--safe {
    background-color: $ui-tag-safe-bg-color;
  }

  &--info {
    background-color: $ui-tag-info-bg-color;
  }

  &--new {
    background-color: $ui-tag-new-bg-color;
  }

  &--icon {
    .icon {
      display: inline-flex;
      height: .7rem;
      margin-right: 5px;
      width: .7rem;
    }
  }
}
